.carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carrusel {
    height: 500px;
    width: 80%;
}

.vermas_div {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.vermas {
    background-color: rgba(0, 0, 0, 0.749);
    border: 5px solid $red3;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Tilt Warp', cursive;
    font-size: 30px;
    padding: 15px;
    position: absolute;
    top: 575px;

}

.presupuesto {
    font-family: 'Tilt Warp', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 680px;
    right: 250px;
    text-shadow: 0px 0px 15px black;
    transform: rotate(-10deg);
}

.section_servicios{
    margin: 0 300px 0 300px;
}
.tet {
    font-family: 'Tilt Warp', cursive;
    color: white;
    font-size: 40px;
    padding-left: 10px;
    border-bottom: double $red3 15px;
    width: 380px;
    margin: 40px 0px 20px 0px;
    text-shadow: 0px 0px 10px black;
}

.servicios {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: solid black 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0px 0px 15px black;

}

.servicios_sublimacion {
    background-image: url(../../../images/banderas/chino1.jpeg);
}

.servicios_impresion {
    background-image: url(../../../images/impresion.jpeg);
}

.servicios_disenio {
    background-image: url(../../../images/disenio.jpg);
}

.servicios_corte {
    background-image: url(../../../images/corte/corte.jpeg);
}


.resumen_servicios {
    margin-top: 10px;
    height: 50px;
    width: 210px;
    font-family: 'Tilt Warp', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.621);
    border: 5px solid $red3;
    border-radius: 5px;
    text-shadow: 0px 0px 5px $red1;

}

.negrita {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.607);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.texto {
    padding: 10px 75px 10px 75px;
    text-align: center;
    font-size: 16px;
    font-family: 'Tilt Warp', cursive;

}