$red1: red;
$red2: rgb(201, 49, 49);
$red3: rgb(145, 6, 6);
$gray1: rgb(198, 198, 198);
$gray2: rgb(93, 93, 93);
$tipografia1: 'Poppins', sans-serif;
$tipografia2: 'Montserrat', sans-serif;
$gradiante1: linear-gradient(180deg, rgb(203, 203, 203), rgba(132, 127, 127, 0.868));
$background1: #262626;